@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 6rem;
}

#root {
  min-height: 100vh;
}

h5 {
  font-weight: 700;
  font-size: 1.7rem;
}

h4 {
  font-weight: 700;
  font-size: 2.7rem;
}

.btn {
  padding: 0 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  height: 2.5rem;
}